<!DOCTYPE html>
<html lang="ja">
    <head>
    <meta charset="UTF-8">
    <title>ログイン画面</title>
    <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <%- include('header'); %>
        <main>
            <ul>
            <% users.forEach((about) => { %>
                <li>
                    <span><%= about.username %></span>
                    <span><%= about.role %></span>
                    <span><%= about.password %></span>
                    <span><%= about.id %></span>
                </li>
            <% }) %>
            </ul>
        </main>
    </body>
</html>